# Good gitnore examples
# https://github.com/gboeing/osmnx/blob/main/.gitignore

# Git can ignore folders with a specific format
# Ignore all folders called output
###################
**/[Oo]utput/**


# Visual Studio 2015/2017 cache/options directory
.vs/
.vscode/
# Uncomment if you have tasks that create the project's static files in wwwroot
#wwwroot/

# Ignore any folder that starts with Work or work
###################
**/[Ww]ork**/